---
layout: profile-and-content
title: "Projects"
---

{% for post in site.posts %}
<div class="blog-post">
    <div class="banner">
        <img src="{{ post.banner }}" alt="Banner image." class="banner-image">
        <div class="banner-text">
            <h2 class="blog-post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </div>
    </div>
    <div class="blog-post-meta">
        <small>{{ post.date | date: "%B %-d, %Y" }}</small>
        <small>&middot;</small>
        <small><i class="fa fa-clock-o"></i> {{ post.content | reading_time }}</small>
    </div>
    <p>{{ post.excerpt }}</p>
</div>
{% if forloop.last == false %}
<hr>
{% endif %}
{% endfor %}