<div class="profile-container">
    <!-- <img src="https://placehold.co/400x400?text=Headshot" alt="A random image."> -->
    <img id="headshot" src="{{ '/assets/img/headshot.jpg' }}" alt="A headshot photograph.">
    <h2>Samuel Juul Barker</h2>

    <!-- Links -->
    <div class="profile-links">
        <div>
            <i class="fa fa-github"></i>
            <a href="https://github.com/{{ site.github }}">GitHub</a>
        </div>
        <div>
            <i class="fa fa-linkedin"></i>
            <a href="https://linkedin.com/in/{{ site.linkedin }}">LinkedIn</a>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <a href="mailto:{{ site.email }}">Email</a>
        </div>
    </div>

    <p>
        Hello, I'm Sam, a dedicated software engineer with a talent for transforming
        intricate challenges into polished solutions. I excel in developing web applications
        and teasing insights from data.
    </p>
    <p>
        When I'm not in the sea, out for a run, or programming, I'm staying up-to-date with
        industry advancements or writing about cool projects here.
        Let's create something remarkable together!
    </p>

</div>