<div class="profile-container">
    <img src="https://placehold.co/400x400" alt="A random image.">
    <h2>This is the author profile.</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis leo eget neque venenatis rhoncus. Aenean
        congue lacus sit amet pretium eleifend. Praesent elementum dolor justo, non laoreet turpis dignissim id. Ut
        non justo tincidunt, elementum augue non, luctus urna. Phasellus ultrices magna lacinia leo porta
        condimentum. Vivamus non leo iaculis, varius risus id, euismod tellus. Pellentesque massa ante, convallis in
        velit aliquet, volutpat tempus nibh. Vivamus euismod lacinia porttitor. Cras convallis ac massa a commodo.
    </p>
</div>