---
---

@import "base";

$linkColour: #007bff;
$bodyColour: #333;
$deemphasisedColour: #666;

/* Element selectors */

body {
    /* Use linear-gradient for a smooth transition of colors */
    background: linear-gradient(to bottom, #ffffff, #eeeeee);
    background-attachment: scroll;
    background-size: cover;
    min-height: 100vh;
}

main {
    font-size: 16pt;
    padding: 20px;
}

nav {
    a {
        color: $linkColour;
        text-decoration: none;
    }
    a:visited {
        color: $linkColour;
    }
}

small {
    color: $deemphasisedColour;
}

/* Class selectors */

.blog-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.profile-container {
    flex-basis: 20%;
}

.blog-content {
    flex-basis: 60%;
}

.blog-post-title {
    margin-bottom: 0;

    a {
        color: $bodyColour;
    }
    a::visited {
        color: $bodyColour;
    }
}

