---
---

@import "base";

header {
    background: $backgroundColor;
    color: $bodyColor;
    font-family: $bodyFont;
    font-size: x-large;
    padding: 20px 20px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline;
            margin-right: 30px;
        }
    }
}

a {
    color: $linkColor;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: $linkColor;
}

#homepage-hero {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    transform: translate(-150px);
}

.gradient-box {
    display: flex;
    align-items: center;
    justify-content: center;
    //width: 50vw;
    margin: auto;
    max-width: 8.5em;
  
    position: relative;
    box-sizing: border-box;
  
    $border: 5px;
    color: #000;
    background: #FFF;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    border-radius: 1em;
  
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(to right, skyblue, lightblue);
    }
  }

.call-to-action {
    font-size: 28pt;
    color: $bodyColor;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.bio-text {
    font-size: 44pt;
    margin-bottom: 30px;
    margin-top: 20px;
}

#links {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#links > div {
    padding-left: 10px;
    padding-right: 10px;
}

#name {
    text-align: left;
}

.name-word {
    font-size: 72pt;
}

.name-first-letter {
    color: red;
}

#project-pane-1 {
    transform: translate(100px, 50px);
}

#project-pane-2 {
    transform: translate(150px, -50px);
}

#project-pane-3 {
    transform: translate(200px, -100px);
}