---
---

@import "base";

header {
    background: $backgroundColor;
    color: $bodyColor;
    font-family: $bodyFont;
    font-size: x-large;
    padding: 20px 20px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline;
            margin-right: 30px;

            a {
                color: $bodyColor;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
}

#homepage-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#links {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#links > div {
    padding-left: 10px;
    padding-right: 10px;
}

.name-word {
    font-size: xx-large;
}

.name-word::first-letter {
    color: red;
}

#project-pane-1 {
    transform: translate(100px, 50px);
}

#project-pane-2 {
    transform: translate(150px, -50px);
}

#project-pane-3 {
    transform: translate(200px, -100px);
}