---
---

@import "base";

$backgroundColour: white;
$bodyColour: #333;
$deemphasisedColour: #666;
$gradientStartColour: #ffffff;
$gradientEndColour: #f3fbff;

/* Element selectors */
body {
    /* Use linear-gradient for a smooth transition of Colours */
    background: linear-gradient(to bottom, $gradientStartColour, $gradientEndColour);
    background-attachment: scroll;
    background-size: cover;
    min-height: 100vh;
    margin: 0;

    font-size: 16pt;
}

a {
    color: $linkColour;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: $linkColour;
}

header {
    background: $backgroundColour;
    color: $bodyColour;
    font-family: $bodyFont;
    font-size: x-large;
    padding: 20px 20px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline;
            margin-right: 30px;
        }
    }
}

footer {
    color: $deemphasisedColour;
    font-family: $bodyFont;
    font-size: small;
    padding: 0 10px;
}

/* Class selectors */
.bio-text {
    font-size: 44pt;
    margin-bottom: 30px;
    margin-top: 20px;
}

.name-first-letter {
    // text-shadow: 1px 1px #fe4902, 
    //              2px 2px #fe4902, 
    //              3px 3px #fe4902, 
    //              4px 4px #fe4902, 
    //              5px 5px #fe4902, 
    //              6px 6px #fe4902;
    text-shadow: 1px 1px $bodyColour, 
                 2px 2px $bodyColour, 
                 3px 3px $bodyColour, 
                 4px 4px $bodyColour, 
                 5px 5px $bodyColour, 
                 6px 6px $bodyColour;

    font-size: 72pt;
    -webkit-text-stroke: 2px $bodyColour;
    color: $backgroundColour;

    font-size: 80pt;
}

.name-word {
    font-size: 80pt;
}

.btn-grad {
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    margin: 10px 0 20px 0;
    padding: 20px 45px 10px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 20px #eee;
    border-radius: 20px;
    font-size: 28pt;
    display: inline-flex;
    align-items: center;
    line-height: 28pt;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


/* ID selectors */
#homepage-hero {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 100px;
}

#links {
    div {
        padding-left: 10px;
        padding-right: 10px;    
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    h2 {
        font-size: xx-large;
        margin-top: 0;
        padding-top: 0;
    }
    a {
        font-size: x-large;
        padding-left: 5px;
    }
    
}

#name {
    text-align: left;
}

// Image stack
// https://codepen.io/brianacamp/pen/QWWOwdM
.image-stack {
    display: grid;
    position: relative; // imperative for the overlapping to work
    grid-template-columns: repeat(16, 1fr);

    * {
        max-width: 600px;
    }

    * > img {
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
}

[class^="image-stack__item"] {
    // Setup for looking-towards-mouse 3D transformation
    perspective: 1000px;

    img {
        transition: transform 0.2s ease;
        transform-style: preserve-3d;
    }
}
  
.image-stack__item--3 {
    grid-column: 1 / span 12;
    grid-row: 1;
}

.image-stack__item--2 {
    grid-row: 1;
    grid-column: 3 / span 12;
    padding-top: 20%;
}

.image-stack__item--1 {
    grid-row: 1;
    grid-column: 5 / span 12;
    padding-top: 40%;
}

.top-info-banner {
    margin: 0;
    text-align: center;
    background: linear-gradient(to top, #ffffff, #f3fbff);
    padding-top: 16px;
}

img {
    width: 100%;
    display: block;
}
